.incDecButtons {
  height: 2em;
  width: 5em;
  border-radius: 10px;
  border: none;
  background-color: rgb(78, 145, 223);
  font-weight: bold;
  font-family: monospace;
  color: white;
  font-size: 1.3em;
  transition: 0.5s;
}

.incDecButtons:hover {
  background-color: white;
  color: rgb(78, 145, 223);
  transition: 0.5s;
  cursor: pointer;
}

.incDecButtons:active {
  background-color: rgb(151, 188, 236);
  transition: 0.1s;
  color: white;
}

.cantidad {
  display: flex;
  justify-content: center;
  font-family: monospace;
  font-size: 2em;
  font-weight: bold;
  color: white;
  width: 2em;
}
