.main-lista {
  width: 80;
  padding: 2em;
  margin: 1em;
  border: 1px solid white;
  color: rgb(223, 188, 113);
}

.productos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80;
  /* height: 8em; */
  margin: 1em;
  border: 1px solid white;
  padding: 0.5em;
}

.caracteristica-producto {
  font-size: 1.6em;
  display: flex;
  justify-content: flex-start;
  width: 20%;
  /* border: 1px solid red; */
}

.imagen-de-producto {
  width: 200px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
