.container-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.cantidad-carrito {
  display: flex;
  align-items: center;
  font-size: 2em;
  color: rgb(252, 255, 70);
  margin-left: 0.3em;
}
/* rgb(230, 96, 96); */
.carrito-counter {
  width: 2em;
  margin-left: 1em;
  font-weight: bold;
  color: rgb(230, 96, 96);
  background-color: white;
  font-size: 0.8em;
  border-radius: 10px;
  border: none;
}

.carrito-counter:hover {
  background-color: rgb(230, 96, 96);
  color: white;
  transition: 0.4s;
}
