.navBar {
  /* align-items: flex-end; */
  flex-direction: column;
  justify-content: end;
  background-color: rgb(97, 172, 241);
  height: 18em;
  width: 100%;
  /* border: 1px solid red; */
}

.container-main {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border: 1px solid orange;
  align-items: center;
}

.container-item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(230, 96, 96);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  height: 2em;
  font-size: 1.7em;
  font-family: monospace;
  font-weight: 500;
  width: 8%;
}

/* .header-link {
  color: rgb(230, 96, 96);
  font-size: 1.5em;
  margin: 1em;
  font-family: monospace;
} */

.imgLogo {
  height: 12em;
  width: 12em;
}

.imgContainer {
  width: 100%;
  /* height: 50%; */
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
