nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(97, 172, 241);
  height: 4em;
  margin-bottom: 1em;
  width: 100%;
}

nav div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  height: 50%;
  width: 6%;
}

nav div a {
  color: rgb(230, 96, 96);
  font-size: 1.5em;
  margin: 1em;
  font-family: monospace;
}
