* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

body {
  background-color: rgb(42, 48, 48);
  color: white;
  height: 100%;
  /* border: 5px solid green; */
}

.cardSection {
  display: flex;
  justify-content: space-evenly;
  /* height: 30vh; */
  align-items: center;
  /* border: 5px solid red; */
}
